/* TABLET A VÝŠ */
@media (min-width: 768px) {

  .about-grid {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .services-grid {
  grid-template-columns: 1fr 1fr;
}

  .contact-grid {
    grid-template-columns: 1fr 1fr;
  }

.blog-grid {
  grid-template-columns: repeat(2, 1fr);
}

}

/* DESKTOP */
@media (min-width: 1024px) {

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

}